* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

.container_main {
    font-family: "Lato", sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.goods_cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 587px);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text {
    background-color: #f8f8f8;
}

.title {
    margin-top: 25px;
    margin-left: 16px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sub_text {
    width: 315px;
    margin-top: 16px;
    margin-left: 16px;
    color: #5d5d5d;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.sub_text2 {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 20px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
